:root {
    --padding: 1rem;
}

#bodyContainer {
    border: 1px black solid;
    padding: var(--padding);
    display: flex;
    flex-direction: column;
    gap: var(--padding);
}
#slideshow {
    border: 1px black solid;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    min-height: 300px;
}

.slide {
    padding: var(--padding);
    gap: var(--padding);
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    box-sizing: border-box;
}

.slide img {
    width: 100%;
    background: black;
    flex: 1;
    max-height: 500px;
    object-fit: contain;
}
#NextImg, #PrvImg {
    position: absolute;
    font-size: 40px;
    height: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
}

#NextImg {
    right: 0px;
    transform: translateX(100%);
}

#PrvImg {
    left: 0px;
    transform: translateX(-100%);
}

#NextImg:hover, #PrvImg:hover {
    filter: brightness(90%);
    background-color: rgba(0, 0, 0, 1);
}