:root {
    --padding: 1rem;
}
.gap-text {
    gap: 1rem;
}
.gap-tiny {
    gap: 0.5rem;
}
.flow-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* gap: 1rem; */
}
#bodyContainer {
    border: 1px black solid;
    padding: var(--padding);
    display: flex;
    flex-direction: column;
    gap: var(--padding);
}
#slideshow {
    border: 1px black solid;
    width: fit-content;
    position: relative;
    display: flex;
    align-items: center;
    min-height: 300px;
}

.slide {
    padding: var(--padding);
    gap: var(--padding);
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    box-sizing: border-box;
    overflow: hidde;
}

.slide img {
    width: 100%;
    background: black;
    flex: 1;
    max-height: 50dvh;
    object-fit: contain;
}

#NextImg, #PrvImg {
    font-size: 16px;
    /* width: 32px; */
    /* height: 32px; */
    /* border-radius: 4px; */
    /* display: flex; */
    text-align: center;
    /* justify-content: center; */
    /* align-items: center; */
    cursor: pointer;
    text-decoration: none;
    color: black;
    box-sizing: border-box;
    padding: 4px;
}
/* 
#NextImg {
    left: 0px;
    transform: translateX(0%);
}

#PrvImg {
    left: 0px;
    transform: translateX(-100%);
} */