#bodyContainer {
    border: 1px black solid;
    padding: 20px;
}

#slideshow {
    border: 1px black solid;
    width: 600px;
    height: 300px;
}

.slide {
    padding: 20px;
}

.slide img {
    width: 100%;
    height: 100%;
}